__pycache__/
project1_env/

**/.idea/workspace.xml
**/.idea/tasks.xml

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/